// FONT FAMILY

@font-face {
  font-family: montserrat;
  src: url(../../font/Montserrat-Regular.ttf);
  font-display: swap;
}
$main-font-family: montserrat;

// FONT COLORS

$font-primary-color: snow;

// MAIN COLORS

$primary-color: #1A202C;
$secondary-color: #2D303D;

// BUTTON COLORS

$button-primary-color: #2D303D;
$button-primary-hover-color: #3E454E;
$button-primary-active-color: #50555F;
