// FONT FAMILY

@font-face {
  font-family: montserrat;
  src: url(../../font/Montserrat-Regular.ttf);
  font-display: swap;
}
$main-font-family: montserrat;

// FONT COLORS

$font-primary-color: white;

// MAIN COLORS

$primary-color: black;
$secondary-color: black;
$background-color: #1A202C;

// BUTTON COLORS

$button-primary-color: white;
$button-primary-hover-color: white;
