@font-face {
  font-family: montserrat;
  src: url(../../font/Montserrat-Regular.ttf);
  font-display: swap; }

header {
  padding: 40px 0px 40px 0px; }
  header h1 {
    font-size: 38px;
    text-align: center;
    font-weight: normal;
    padding-bottom: 40px; }
  header nav {
    width: fit-content;
    margin: auto; }
    header nav .btn {
      margin: 2.5px; }

section h2 {
  text-align: center;
  margin: 10px 0 30px 0; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2D303D; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3E454E; }

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: montserrat; }

html, body {
  height: 100%;
  background-color: #1A202C;
  color: snow;
  overflow: auto; }

a i {
  width: 50%;
  height: 50%; }
  a i.fa-example {
    background: url("/src/public_site/media/icons/.svg") no-repeat center; }

.btn {
  text-decoration: none;
  color: snow;
  padding: 10px 15px;
  background-color: #2D303D;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  box-shadow: none;
  border: none; }
  .btn:hover {
    cursor: pointer;
    background-color: #3E454E; }
  .btn:active {
    background-color: #50555F; }

form {
  width: 60%;
  margin: auto auto 50px auto; }
  form input[type=text], form textarea, form input[type=number], form input[type=date], form input[type=password] {
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    padding: 7.5px;
    margin: 10px 0;
    border-radius: 7.5px;
    border: 2px solid #2D303D;
    color: snow;
    background-color: #1A202C;
    font-size: 15px; }
  form input[type=checkbox], form input[type=radio] {
    cursor: pointer;
    margin: 15px 0; }
    form input[type=checkbox]:not(:first-child), form input[type=radio]:not(:first-child) {
      margin-left: 15px; }
  form .btn-container {
    text-align: center;
    margin: 20px 0; }
  form textarea {
    height: 75px; }
  form p {
    font-size: 15px;
    margin: 20px 0; }
  form label {
    font-size: 15px; }
  form .radio-group {
    margin: 0 0 10px 20px; }
  form .input-with-checkbox input[type=text], form .input-with-checkbox input[type=number] {
    width: 20%;
    display: inline-block; }
  form .input-with-checkbox input[type=checkbox] {
    margin-left: 10px; }
  form .input-with-checkbox.reversed input[type=text], form .input-with-checkbox.reversed input[type=number] {
    margin-left: 10px; }
  form .three-inputs {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px auto; }
    form .three-inputs input {
      display: inline-block;
      width: 20%;
      margin: 0 10px; }
