@font-face {
  font-family: montserrat;
  src: url(../../font/Montserrat-Regular.ttf);
  font-display: swap; }

header {
  padding: 40px 0px 40px 0px; }
  header h1 {
    font-size: 38px;
    text-align: center;
    font-weight: normal;
    padding-bottom: 40px; }
  header nav {
    width: fit-content;
    margin: auto; }
    header nav .btn {
      margin: 2.5px; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2D303D; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3E454E; }

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: montserrat; }

html, body {
  height: 100%;
  background-color: #1A202C;
  color: snow;
  overflow: auto; }

a i {
  width: 50%;
  height: 50%; }
  a i.fa-example {
    background: url("/src/public_site/media/icons/.svg") no-repeat center; }

.btn {
  text-decoration: none;
  color: snow;
  padding: 10px 15px;
  background-color: #2D303D;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  box-shadow: none;
  border: none; }
  .btn:hover {
    cursor: pointer;
    background-color: #3E454E; }
  .btn:active {
    background-color: #50555F; }
